<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete resposive sport design dailywebdesign</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">
        <i class="fa-solid fa-football-bat-ball"></i> vamos
      </a>

      <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">Review</a>
        <a href="#">shop</a>
        <a href="#">about</a>

        <a href="#">Contact</a>
      </nav>

      <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div
          id="search-btn"
          class="fa-sharp fa-solid fa-right-to-bracket"
        ></div>
        <div id="search-btn" class="fa-solid fa-user"></div>
      </div>
    </header>

    <section class="home" id="home">
      <div class="slides-container">
        <div class="slide active">
          <div class="content">
            <span>Never Stop</span>
          </div>
          <div class="img">
            <img decoding="async" src="img/1.png" />
          </div>
        </div>

        <div class="slide">
          <div class="content">
            <span>Never Stop</span>

            <a href="#" class="btn">Shop Now</a>
          </div>
          <div class="img">
            <img decoding="async" src="img/12.png" />
          </div>
        </div>
      </div>
      <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
      <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>
    </section>

    <section id="map-section" class="map-section">
      <div id="map"></div>
    </section>

    <section class="category">
      <br />
      <h1 class="title">
        our <span>category</span> <a href="#"> view all >> </a>
      </h1>

      <div class="box-container">
        <a href="#" class="box">
          <img decoding="async" src="img/bx1.jpg" alt="" />
          <h3>night stadium</h3>
        </a>

        <a href="#" class="box">
          <img decoding="async" src="img/home-bg.jpg" alt="" />
          <h3>day stadium</h3>
        </a>

        <a href="#" class="box">
          <img decoding="async" src="img/home-bg2.jpg" alt="" />
          <h3>day stadium</h3>
        </a>

        <a href="#" class="box">
          <img decoding="async" src="img/pic7.jpg" alt="" />
          <h3>day stadium</h3>
        </a>

        <a href="#" class="box">
          <img decoding="async" src="img/upmatch.jpg" alt="" />
          <h3>evening stadium</h3>
        </a>
      </div>
    </section>

    <section class="about">
      <div class="img">
        <img decoding="async" src="img/foter_bg.jpg" alt="" />
      </div>

      <div class="content">
        <span>Welcome to our Products</span>
        <h3>vamos</h3>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore farhan aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor farhan aliqua. Ut enim ad minim veniam, quis
        </p>
        <a href="#" class="btn">read more</a>
      </div>
    </section>

    <section class="info-container">
      <div class="info">
        <img decoding="async" src="img/icon-2.png" alt="" />
        <div class="content">
          <h3>24/7 available</h3>
        </div>
      </div>

      <div class="info">
        <img decoding="async" src="img/icon-3.png" alt="" />
        <div class="content">
          <h3>easy payments</h3>
        </div>
      </div>
    </section>

    <section class="review">
      <div class="box">
        <div class="user">
          <img decoding="async" src="img/pic-1.png" alt="" />
          <div class="info">
            <h3>edward bey</h3>
            <span>happy client</span>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam,
          quis
        </p>
      </div>

      <div class="box">
        <div class="user">
          <img decoding="async" src="img/pic-2.png" alt="" />
          <div class="info">
            <h3>jenna bey</h3>
            <span>happy client</span>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam,
          quis
        </p>
      </div>

      <div class="box">
        <div class="user">
          <img decoding="async" src="img/pic-3.png" alt="" />
          <div class="info">
            <h3>jhon bey</h3>
            <span>happy client</span>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam,
          quis
        </p>
      </div>

      <div class="box">
        <div class="user">
          <img decoding="async" src="img/pic-4.png" alt="" />
          <div class="info">
            <h3>linda bey</h3>
            <span>happy client</span>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam,
          quis
        </p>
      </div>

      <div class="box">
        <div class="user">
          <img decoding="async" src="img/pic-5.png" alt="" />
          <div class="info">
            <h3>kennay bey</h3>
            <span>happy client</span>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam,
          quis
        </p>
      </div>

      <div class="box">
        <div class="user">
          <img decoding="async" src="img/pic-6.png" alt="" />
          <div class="info">
            <h3>lalisa bey</h3>
            <span>happy client</span>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam,
          quis
        </p>
      </div>
    </section>

    <section class="contact">
      <div class="icons-container">
        <div class="icons">
          <i class="fas fa-phone"></i>
          <h3>our number</h3>
          <p>+111-222-3333</p>
          <p>+456-786-7890</p>
        </div>

        <div class="icons">
          <i class="fas fa-envelope"></i>
          <h3>our email</h3>
          <p>shaikhfarhan@gmail.com</p>
          <p>xyzemail@gmail.com</p>
        </div>

        <div class="icons">
          <i class="fas fa-map-marker-alt"></i>
          <h3>our address</h3>
          <p>turku, istanbul - 401203</p>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>quick links</h3>
          <a href="#"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="#"><i class="fas fa-arrow-right"></i>Shop</a>
          <a href="#"><i class="fas fa-arrow-right"></i>About</a>
          <a href="#"><i class="fas fa-arrow-right"></i>Review</a>

          <a href="#"><i class="fas fa-arrow-right"></i>Contact</a>
        </div>

        <div class="box">
          <h3>follow us</h3>
          <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
          <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
          <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

        <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for lastest update</p>
          <form action="">
            <input type="email" placeholder="enter your email address" />
            <input type="submit" value="subscribe" class="btn" />
          </form>
          <img decoding="async" src="img/payment.png" class="payments" alt="" />
        </div>
      </div>
    </section>

    <script src="main.js" defer data-deferred="1"></script>

    <script>
      async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 8,
        });
      }
    </script>
  </body>
</html>
