.contact_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  font-size: 25px;
  margin-right: 15px;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: gainsboro;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form . btn-two {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;

  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 48px;
  color: #0067f4;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: uppercase;
}
.btn-two {
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (max-width: 940px) {
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  #msg {
    color: #a147e4;
    display: block;
    margin-top: -40px;
  }

  .contact_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
}
