

        body {
  background-image: url("./img/white-wood-bg.jpg");
}
nav {
  background-image: url("./img/dark-wood-bg.jpg");
}

#our-team img {
  width: 100%;
}

.tight-container {
  padding: 0 5%;
}

.fullWidth {
  width: 100%;
}
.footer {
}
.footer .iron {
  background-image: url("./img/iron-bg.png");
  height: 80px;
  width: 100%;
}
.footer .red-bg {
  background-image: url("./img/red-bg.jpg");
  width: 100%;
  padding: 30px 0;
}
.footer .wooden-bg {
  background-image: url("./img/dark-wood-bg.jpg");
  width: 100%;
  padding: 30px 0;
}

.footer .head1 {
  font-size: 30px;
  color: #9b804d;
}
.footer .head2 {
  font-size: 60px;
  color: white;
}
.paragraph {
  font-size: 18px;
  color: #fff;
}
.carousel img {
  width: 100%;
}