<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="stylesheet" type="text/css" href="/utils/global.css">
  <title>Mom's Kitchen |hot drinkse</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="./favicon.png">
</head>

<body>
  <div class="nav-placeholder"></div>

<div class="row" id="our-team">
<div class="col-xs-12 col-md-6 col-lg-6">
        <img src="./img/2.png">
      </div>


        <div class="col-xs-12 col-md-6 col-lg-6">
          <img src="./img/1.png">
        </div>
        
</div>



<br><br>



 <center>
      <div class="marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="./img/3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Espresso Bazlı</h2>
            
            <p><a class="btn btn-default" href="/checkout/" role="button">price:12 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="./img/4.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Filter Coffees</h2>
            
            <p><a class="btn btn-default" href="/checkout" role="button">price:12 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="./img/5.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Türk Kahvesi</h2>
            
            <p><a class="btn btn-default" href="/checkout/" role="button">price:12 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </center>















 <center>
      <div class="marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="./img/6.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Teavana™ Sıcak Çaylar</h2>
            
            <p><a class="btn btn-default" href="/checkout/" role="button">price:12 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="./img/7.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Teavana™ Tea Latter</h2>
            
            <p><a class="btn btn-default" href="/checkout" role="button">price:12 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="./img/8.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Sıcak Çikolatalar</h2>
            
            <p><a class="btn btn-default" href="/checkout/" role="button">price:12 &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </center>


</div></center></div></center>







   <div class="col-xs-12">
      <div class="container">
        <center>
          <ul class="pagination">
            <li><a href="/indix.html/">1</a></li>
            <li><a href="/resturant/">2</a></li>
            <li><a href="/coffe/">3</a></li>
            <li><a href="/kids-area/">4</a></li>
            <li><a href="/call-us/">5 </a></li>
            <li><a href="/about-us/">6</a></li>
            <li><a href="/recervision/">7</a></li>
          </ul>
        </center>
      </div>
    </div>

  </div>
   

    <div class="col-xs-12">
      <div class="footer-placeholder"></div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>

  <script src="/utils/global.js"></script>

</body>

</html>