<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="stylesheet" type="text/css" href="./utils/global.css"> 
  <link rel="stylesheet" type="text/css" href="./utils/convform/jquery.convform.css">
  <title>Mom's Kitchen | Home page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="./favicon.png">
</head>

<body>

  <!-- ChatBot -->
  <div class="chat_icon">
    <i class="fa fa-comments" aria-hidden="true"></i>
  </div>

  <div class="chat_box">
    <div class="my-conv-form-wrapper">
      <form action="" method="GET" class="hidden">

        <select data-conv-question="Hello! How can I help you" name="category">
          <option value="WebDevelopment">custmer service </option>
         
        </select>

        <div data-conv-fork="category">
          <div data-conv-case="custmer service">
            <input type="text" name="domainName" data-conv-question="what is your problem?">
          </div>
         
            <input type="text" name="companyName" data-conv-question="what is your problem">
          </div>
        </div>

        <input type="text" name="name" data-conv-question="Please, Enter your name">

        <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">

        <input data-conv-question="Enter your e-mail"
          data-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
          type="email" name="email" required placeholder="What's your e-mail?">

        <select data-conv-question="Please Conform">
          <option value="Yes">Conform</option>
        </select>

      </form>
    </div>
  </div>
  <!-- ChatBot end --> 



  <div class="nav-placeholder"></div>
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="resturant.html"><img src="./img/resturant.jpg" alt="resturant"></a>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <a href="coffe.html"><img src="./img/coffee.jpg" alt="coffee"></a>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <a href="kidz area.html"><img src="./img/kidz area.jpg" alt="kidz area"></a>
            <div class="carousel-caption">
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="container">
        <img src="./img/specail_offer.png" class="fullWidth" />
      </div>
    </div>

    <div class=" col-xs-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="./img/spicial diner.jpg" alt="Los Angeles">
          </div>
          <div class="item">
            <img src="./img/spicial break fast.jpg" alt="Chicago">
          </div>
          <div class="item">
            <img src="./img/meal1.jpg" alt="New York">
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>


    <div class="col-xs-12">
      <div class="container">
        <center>
          <img src="./img/our_team.png">
          <p class="lead text-muted">
            Something short and leading about the collection below—its contents, the
            creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
          </p>
        </center>
      </div>
    </div>




    <div class="tight-container">
      <div class="row" id="our-team">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <center>
            <img src="./img/manger.jpg" alt="">
            <h6><b>Manager</b></h6>
            <p class="card-text">MR.MARK (HE WORK AS ACHEF IN MANEY RESTERANTS AND HE HAVE ABIG EXPERINCE IN
              EUROYAN FOOD)
            </p>
          </center>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <center>
            <img src="./img/manger.jpg" alt="">
            <h6><b>Manager</b></h6>
            <p class="card-text">MR.MARK (HE WORK AS ACHEF IN MANEY RESTERANTS AND HE HAVE ABIG EXPERINCE IN
              EUROYAN FOOD)
            </p>
          </center>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <center>
            <img src="./img/manger.jpg" alt="">
            <h6><b>Manager</b></h6>
            <p class="card-text">MR.MARK (HE WORK AS ACHEF IN MANEY RESTERANTS AND HE HAVE ABIG EXPERINCE IN
              EUROYAN FOOD)
            </p>
          </center>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <center>
            <img src="./img/manger.jpg" alt="">
            <h6><b>Manager</b></h6>
            <p class="card-text">MR.MARK (HE WORK AS ACHEF IN MANEY RESTERANTS AND HE HAVE ABIG EXPERINCE IN
              EUROYAN FOOD)
            </p>
          </center>
        </div>
      </div>
    </div>


    <div class="col-xs-12">
      <div class="container">
        <center>
          <ul class="pagination">
            <li><a href="./index.html/">1</a></li>
            <li><a href="./resturant/">2</a></li>
            <li><a href="./coffe/">3</a></li>
            <li><a href="./kids-area/">4</a></li>
            <li><a href="./call-us/">5 </a></li>
            <li><a href="./about-us/">6</a></li>
            <li><a href="./recervision/">7</a></li> 
          </ul>
        </center>
      </div>
    </div>

  </div>
  </div>

  <div class="footer-placeholder"></div>

  <!--  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
  </script>
  <script src="./utils/global.js"></script> 
  <script type="text/javascript" src="./utils/convform/jquery.convform.js"></script>
  <script type="text/javascript" src="./main.js"></script>

</body>

</html>