/*--------------- Browser Defaults ---------------*/

.a__disable-defaults {
    text-decoration: none;
    color: inherit;
  }
  .li__disable-defaults {
    list-style: none;
  }
  
  /*--------------- Typography ---------------*/
  
  .text-lg {
    font-size: 4em;
  }
  .text-md {
    font-size: 2em;
  }
  .text-sm {
    font-size: 1em;
  }
  .text-xs {
    font-size: 0.5em;
  }
  .text-capitalize {
    text-transform: capitalize;
  }
  
  /*--------------- Layout ---------------*/
  
  .container {
    padding: 10px 10%;
  }
  
  
  /*--------------- Color Palette ---------------*/
  
  .pink-text {
    color: #ff004f;
  }
  .white-text {
    color: #ffffff;
  }
  .black-text {
    color: #080808;
  }
  
  .pink-bg {
    background: #ff004f;
  }
  .white-bg {
    background: #ffffff;
  }
  .blackA500-bg {
    background: #151515;
  }
  .black-bg {
    background: #080808;
  }
  
  /*--------------- Components ---------------*/
  
  .paper {
    border-radius: 8px;
  }
  